.tmp
tmp
.DS_Store
.vscode
.rollup.cache
.secret-api-key.sh
nohup.out
node_modules
package-lock.json
*.log
dist/*
!dist/plugin.js
!dist/plugin.min.js
!dist/plugin.json
!dist/screenshot.jpg
untracked/*

